*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#4671ea, #ac34e7);
}
.wrapper{
    width: 470px;
}
.card-header{
    color: #4671ea;
    font-size: 28px;
}
textarea{
    font-size: 16px;
    outline: none;
    resize: none;
    border-color: #bfbfbf;
    max-height: 200px;
}
textarea:is(:focus, :valid){
    border-width: 2px;
    border-color: #4671ea;
}
textarea::-webkit-scrollbar{
    width: 0;
}